* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('URL_DA_IMAGEM');
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto rola a página */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background-color: #ff6f61;
    color: white;
    padding: 60px 0;
    text-align: center;
}

#sobre, #projetos, #contato {
    padding: 20px;
    text-align: center;
}

.galeria {
    display: flex;
    justify-content: space-around;
}

.projeto {
    text-align: center;
    margin: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input, form textarea {
    margin-bottom: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff6f61;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
